<div class="four">
    <ul>
        <li ng-repeat="item in arr.one">
            <img ng-src="img/{{item.src}}"><br>{{item.wen}}
        </li>
    </ul>
</div>
<div class="banner">
    <img src="img/特卖_26.png">
    <img src="img/特卖_27.png">
</div>
<div class="title2">
    <div>
        <img src="img/特卖_30.png">
        <h2>今日10点上新</h2>
    </div>
    <div>
        <img src="img/特卖_32.png">
        <h2>明日10点预告</h2>
    </div>
</div>
<div ng-repeat="item in arr.two">
    <img ng-src="img/{{item.src}}" width="100%" style="margin-top: -0.4rem">
</div>
<div class="tmbottom">
    <img src="img/特卖_46.png" width="40%">
    <p>休闲运动两件套女夏机季闺蜜姐妹装</p>
</div>