<div class="swiper-container1">
    <ul class="swiper-wrapper">
        <li class="swiper-slide" ng-repeat="item in arr.food1">
            <img ng-src="img/{{item.src}}" width="100%">
        </li>
    </ul>
</div>
<div class="food1">
    <ul>
        <li ng-repeat="item in arr.food2">
            <img ng-src="img/{{item.src}}"><br>{{item.wen}}
        </li>
    </ul>
</div>
<div class="food2">
    <div class="demo1">
        <h2>今日限时特价</h2>
        <p>10:00<span>15</span> : <span>32</span> : <span>36</span></p>
    </div>
    <div class="swiper-container">
        <ul class="swiper-wrapper">
            <li class="swiper-slide" ng-repeat="item in arr.food3">
                <img ng-src="img/{{item.src}}" width="100%">
                <p style="font-size: 1.5rem">{{item.wen}}</p>
                <p class="p1">
                    <span>{{item.span}}</span>
                    <del>{{item.del}}</del>
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="title">
    <img src="img/免税店_07.png">
    <h2>全球热销品牌</h2>
</div>
<div class="food3">
    <ul>
        <li ng-repeat="item in arr.food4">
            <img ng-src="img/{{item.src}}">
        </li>
    </ul>
</div>
<div class="title2">
    <div>
        <img src="img/特卖_30.png">
        <h2>今日10点上新</h2>
    </div>
    <div>
        <img src="img/特卖_32.png">
        <h2>明日10点预告</h2>
    </div>
</div>
<img src="img/食品%20(18).jpg" width="100%">
<div class="swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide" ng-repeat="item in arr.food5" style="padding: 0 0.4rem">
            <img ng-src="img/{{item.src}}" width="90%">
            <p style="font-size: 1.5rem">{{item.wen}}</p>
            <p class="p1" style="margin-top: 1rem">
                <span>{{item.span}}</span>
                <del style="color: #e5e5e5">{{item.del}}</del>
            </p>
        </li>
    </ul>
</div>
<img src="img/食品%20(22).jpg" width="100%">
<div class="swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide" ng-repeat="item in arr.food6" style="padding: 0 0.4rem">
            <img ng-src="img/{{item.src}}" width="90%">
            <p style="font-size: 1.5rem">{{item.wen}}</p>
            <p class="p1" style="margin-top: 1rem">
                <span>{{item.span}}</span>
                <del style="color: #e5e5e5">{{item.del}}</del>
            </p>
        </li>
    </ul>
</div>
<img src="img/食品 (26).jpg" width="100%">
<div class="swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide" ng-repeat="item in arr.food7" style="padding: 0 0.4rem">
            <img ng-src="img/{{item.src}}" width="90%">
            <p style="font-size: 1.5rem">{{item.wen}}</p>
            <p class="p1" style="margin-top: 1rem">
                <span>{{item.span}}</span>
                <del style="color: #e5e5e5">{{item.del}}</del>
            </p>
        </li>
    </ul>
</div>
<img src="img/食品 (30).jpg" width="100%">
<div class="swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide" ng-repeat="item in arr.food8" style="padding: 0 0.4rem">
            <img ng-src="img/{{item.src}}" width="90%">
            <p style="font-size: 1.5rem">{{item.wen}}</p>
            <p class="p1" style="margin-top: 1rem">
                <span>{{item.span}}</span>
                <del style="color: #e5e5e5">{{item.del}}</del>
            </p>
        </li>
    </ul>
</div>
<img src="img/食品 (34).jpg" width="100%">
<div class="swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide" ng-repeat="item in arr.food9" style="padding: 0 0.4rem">
            <img ng-src="img/{{item.src}}" width="90%">
            <p style="font-size: 1.5rem">{{item.wen}}</p>
            <p class="p1" style="margin-top: 1rem">
                <span>{{item.span}}</span>
                <del style="color: #e5e5e5">{{item.del}}</del>
            </p>
        </li>
    </ul>
</div>
<img src="img/食品 (38).jpg" width="100%">
<div class="swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide" ng-repeat="item in arr.food10" style="padding: 0 0.4rem">
            <img ng-src="img/{{item.src}}" width="90%">
            <p style="font-size: 1.5rem">{{item.wen}}</p>
            <p class="p1" style="margin-top: 1rem">
                <span>{{item.span}}</span>
                <del style="color: #e5e5e5">{{item.del}}</del>
            </p>
        </li>
    </ul>
</div>
<img src="img/食品 (42).jpg" width="100%">
<div class="swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide" ng-repeat="item in arr.food11" style="padding: 0 0.4rem">
            <img ng-src="img/{{item.src}}" width="90%">
            <p style="font-size: 1.5rem">{{item.wen}}</p>
            <p class="p1" style="margin-top: 1rem">
                <span>{{item.span}}</span>
                <del style="color: #e5e5e5">{{item.del}}</del>
            </p>
        </li>
    </ul>
</div>
<img src="img/食品 (42).jpg" width="100%">