<div class="swiper-container1" style="margin-bottom: 1rem">
    <ul class="swiper-wrapper">
        <li class="swiper-slide" ng-repeat="item in arr.fs1">
            <img ng-src="img/{{item.src}}" width="100%">
        </li>
    </ul>
</div>
<div class="title">
    <img src="img/免税店_07.png">
    <h2>精选爆款</h2>
</div>
<div ng-repeat="item in arr.fs2" class="fs1">
    <img ng-src="img/{{item.src}}">
    <div class="right">
        <div class="top">
            <span>{{item.sp1}}</span>
            <span>{{item.sp2}}</span>
            <p class="p1">{{item.p1}}</p>
        </div>
        <p class="p2">{{item.p2}}</p>
        <div class="bottom">
            <img ng-src="img/{{item.src1}}">
            <p><span>{{item.sp3}}</span>
                <del>{{item.del}}</del>
            </p>
        </div>
    </div>
</div>
<div class="title" style="margin-top: 1rem">
    <img src="img/免税店_07.png">
    <h2>活动推荐</h2>
</div>
<img src="img/服饰%20(3).jpg" width="100%" style="border-bottom: 10px solid #eee; margin-bottom: 1rem">
<div class="title">
    <img src="img/免税店_07.png">
    <h2>今日热销</h2>
</div>
<div class="div">
    <img src="img/服饰%20(4).jpg" width="50%">
    <img src="img/服饰%20(5).jpg" width="50%">
</div>
<div class="title" style="margin-top: 1rem">
    <img src="img/免税店_07.png">
    <h2>精选品牌，今日在线</h2>
</div>
<div class="fs2" ng-repeat="item in arr.fs3">
    <img ng-src="img/{{item.src}}" width="100%">
    <div class="bottom">
        <div class="left">
            <p>{{item.p1}}</p>
            <p>{{item.p2}}</p>
        </div>
        <img ng-src="img/{{item.src1}}">
    </div>
</div>