<div class="my1">
    <ul>
        <li ng-repeat="item in arr.my1">
            <img ng-src="img/{{item.src}}"><br>{{item.wen}}
        </li>
    </ul>
</div>
<div class="title" style="margin-top: 1rem">
    <img src="img/免税店_07.png">
    <h2>惊爆价 仅限今日</h2>
</div>
<img src="img/母婴 (11).jpg" width="100%">
<div class="my2">
    <div class="div2">
        <h2>母婴限量秒抢</h2>
        <p class="p1">15:00&nbsp;&nbsp;&nbsp;<span>01</span> : <span>35</span> : <span>23</span></p>
        <p>更多&gt;</p>
    </div>
    <div class="swiper-container">
        <ul class="swiper-wrapper">
            <li class="swiper-slide" ng-repeat="item in arr.my2" style="width: 30%;padding: 0 1rem">
                <div style="text-align: center;padding: 0.8rem 0"><img ng-src="img/{{item.src}}" width="80%"></div>
                <p class="p6">{{item.wen}}</p>
                <p class="p7">
                    <span>{{item.span}}</span>
                    <del>{{item.del}}</del>
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="title" style="margin-top: 1rem">
    <img src="img/免税店_07.png">
    <h2>特惠活动 任你挑选</h2>
</div>
<div class="my3">
    <ul>
        <li ng-repeat="item in arr.my3">
            <img ng-src="img/{{item.src}}" width="100%">
        </li>
    </ul>
</div>
<div class="title" style="margin-top: 1rem">
    <img src="img/免税店_07.png">
    <h2>全球热销品牌</h2>
</div>
<div class="my4">
    <ul>
        <li ng-repeat="item in arr.my4">
            <img ng-src="img/{{item.src}}">
        </li>
    </ul>
</div>
<img src="img/母婴%20(23).jpg" width="100%">
<div class="title3">
    <h2 class="first">今日推荐专场</h2>
    <h2>明日推荐专场</h2>
</div>
<div class="my5">
    <ul>
        <li ng-repeat="item in arr.my5">
            <img ng-src="img/{{item.src}}" width="100%">
        </li>
    </ul>
</div>

<div class="title" style="margin-top: 1rem">
    <img src="img/免税店_07.png">
    <h2 style="color: #FFA14E">疯抢专场 早10点上新</h2>
</div>
<p style="background: black;color: white;margin-top: 8rem;width: 20%;">2箱减20在送礼</p>
<h2 style="margin-bottom: 5.7rem;margin-top:2rem;margin-left: 1rem">好奇品牌日特惠福利</h2>